main {
    width: 100%;
    background-color: #fcf8f5;
    float: left;
    font-family: "Poppins", sans-serif;
}

header {
    font-family: "Poppins", sans-serif;
    float: left;
    width: 100%;
    /*background-color: #A9B6AD;*/
    background-color: #b48772;
    padding: 5px 0;
    z-index: 1000000;
    filter: drop-shadow(0 0 0.3rem black);
}

footer {
    float: left;
    width: 100%;
    height: 70px;
    background-color: #ece2d9;
    font-family: "Poppins", sans-serif;
}

footer p {
    color: #4F504E;
    padding-left: 5%;
    margin-top: 25px;
}

#fondoHome {
  /*position: fixed;*/
  background: #040404 url(../images/background/111.jpg) top right no-repeat;
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  float: left;
  z-index: -10000;
}

.contenedor-form .formulario {
    display: none;
    padding: 40px;
}
#log{
margin-left:500px;
height:360px;
}
#log .reset-password{
/*margin-top:-10px;*/
}
#create{
margin-top:-690px;
margin-left:1040px;
}
#logContainer {
    margin-top: -100px;
}

.loader{
width:100%;
height:100%;
position:fixed;
display:none;
left:0px;
top:0px;
z-index:9999;
opacity:1;
background: url('https://thumbs.gfycat.com/InnocentFlusteredAquaticleech-size_restricted.gif') 50% 50% no-repeat #FFFFFF;
animation-duration: 60s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

/*--------------------------------------------------------------
# Outfits
--------------------------------------------------------------*/

.types-outfit {
    width: 26%;
    margin:0 39%;
    margin-top: 50px;
    margin-bottom: 40px;
    float: left;
}

.types-outfit ul {
  padding: 0;
  margin: 0;
  width:70%;
  display: inline;
  list-style: none;
  align-items: center;
}

.types-outfit li {
  float: left;
  /*margin: 0 1%;*/
  margin-right: 6%;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.types-outfit a {
  display: block;
  padding: 5px 10px;
  border-radius: 6px;
  background-color: #4F504E;
  color: #fff;
}

.types-outfit a:hover {
    background-color: #A9B6AD;
}


.outfits {
    width: 70%;
    margin: 0 15%;
    margin-bottom:50px;
    float: left;
    background-color: #ece2d9;
    /*border-radius: 5px;*/
    padding: 30px 0;
    padding-bottom: 0;
}

.outfit-div {
    width: 15%;
    /*height: 620px;*/
    margin: 0px 1%;
    padding: 0px;
    float: left;
    /*background-color: #ece2d9;*/
    margin-left: 3%;
    filter: drop-shadow(0 0 0.25rem gray);
    margin-bottom: 30px;
}

.outfit-items {
    width: 100%;
    float: left;
    /*height: 100%;*/
    margin: 0;
    padding: 0;
    object-fit: contain;
}

.outfit-items img {
    width: 100%;
}


/*--------------------------------------------------------------
# Wardrobe
--------------------------------------------------------------*/

.item-container {
    width: 50%;
    float: left;
    /*background-color: aqua;*/
}

.types {
    width: 70%;
    margin: 0 15%;
    margin-top: 60px;
    margin-bottom: 15px;
    float: left;
}

.types ul {
  padding: 0;
  margin: 0;
  display: inline;
  list-style: none;
  align-items: center;
}

.types li {
  float: left;
  margin: 0 1%;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.types a {
  display: block;
  padding: 5px 10px;
  border-radius: 6px;
  background-color: #4F504E;
  color: #fff;
}

.types a:hover {
    background-color: #A9B6AD;
}

.items {
    width: 70%;
    margin: 0 15%;
    float: left;
    padding-left: .5%;
    background-color: #ece2d9;
    /*border-radius: 5px;*/
}

.item-box {
    width: 30%;
    height: 200px;
    margin: 1.5%;
    float: left;
    background-color: #ece2d9;
    color: #4F504E;
    filter: drop-shadow(0 0 0.25rem gray);
}

.item-box h1 {
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    padding-left: 10px;
}

.item-box input {
    padding-left: 10px;
}

#add-item{
    padding-top: 15px;
}

#add-item-box {
    filter: none;
}

.saveButton.submit{
    margin-top: 20px;
    padding: 5px 15px;
    margin-left: 10px;
}

.saveButton.submit a:hover {
    background-color: #A9B6AD;
    color: #4F504E;
}

.saveButton.submit:hover {
    background-color: #A9B6AD;
    color: #4F504E;
}


/*Ajustar tamaño de las imagenes al item-box*/
.item-box .clothes{
    width: 100%;
    height:200px;
}


.outfit-container {
    width: 50%;
    float: left;
}

.outfit-parts {
    width: 28%;
    /*margin: 0 15%;*/
    float: left;
    background-color: #ece2d9;
    /*border-radius: 5px;*/
    margin-top: 60px;
    margin-bottom: 15px;
    padding: 20px 2%;
    margin-bottom: 50px;
    margin-left: 11%;
}

.outfit-box {
    width: 96%;
    height: 240px;
    margin: 2px 2%;
    float: left;
    background-color: #f1e9e1;
    filter: drop-shadow(0 0 0.25rem gray);

}

.outfit-box .clothes{
    width: 100%;
    height: 240px;
}


/*--------------------------------------------------------------
# Dropdown menu
--------------------------------------------------------------*/

.outfit-menu {
    width: 30%;
    float:left;
    margin-right: 2%;
    margin-left: 5%;
    /*margin: 0 15%;*/
    margin-top: 60px;
    margin-bottom: 0px;
    float: left;
}

.wardrobeTitle {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 400;
    color: #4F504E;
    padding: 0;
    margin-top: 0;
    margin-bottom: 20px;
}

.saveButton {
  float: left;
  background-color: #4F504E;
  color: white;
  float: left;
  margin: 0 10%;
  margin-top: 2px;
  margin-left: 0;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  padding: 5px 30px;
  border-radius: 6px;
  font-weight: 400;
    color: #fff;
}

.saveButton a {
        color: #fff;
}

.saveButton:hover{
    background-color: #A9B6AD;
}


/* Dropdown Button */
.dropbtn {
  background-color: #fff;
  color: #4F504E;
  padding: 10px;
  padding-right: 70px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
    float: left;
    margin-bottom: 20px;
    margin-top: 0;
      border: none;

    width: 100%;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
      border: none;

  position: absolute;
  background-color: #f1f1f1;
  min-width: 212px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    display: block;
    width: inherit;
      border: none;

    padding: 15px 10%;
    background-color: #fff;
    color: #4F504E;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 400;
}


.dropdown-content a:hover {
    background-color: #A9B6AD;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #A9B6AD;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #4F504E; color: white;}


/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body{
  content: "";
  background-color: #fcf8f5;
  background-size: cover;
  color: #fff;
  float: left;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

a {
  color: #18d26e;
  text-decoration: none;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation
*/
.navbar {
  padding-left: 0;
    margin: 0 34%;
    width: 32%;
}

.navbar ul {

  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;

}

.navbar li {
  position: relative;
}

.navbar li + li {
  margin-left: 40px;
}
.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
    color: #4F504E;
  white-space: nowrap;
  transition: 0.3s;
}
.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #4F504E;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}
.navbar a:hover:before, .navbar li:hover > a:before, .navbar .active:before {
  visibility: visible;
  width: 25px;
      color: #fff;

}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #fff;
}



/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 140px;
  bottom: 100%;
  opacity: 0;
  transition: ease-in-out 0.4s;
  z-index: 2;
}
section.section-show {
  top: 100px;
  bottom: auto;
  opacity: 1;
  padding-bottom: 45px;
}

.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 20px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: "Poppins", sans-serif;
}
.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #4ceb95;
  margin: 4px 10px;
}
.section-title p {
  margin: 0;
  margin: -15px 0 15px 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/


.inicio{
      width: 90%;
      margin: 20px 5% 0 5%;
      font-size:32px;
      text-align:center;
      font-family:Roboto;
      color: #4F504E;
      float: left;
}

.inicio h2 {
      font-size: 36px;
      margin-top: 0;
      margin-bottom: 50px;
}

.inicio h1 {
    margin-bottom: 5px;
    font-size: 60px;
    margin-top: 30px;
    color: #005C0C;
}


/*--------------------------------------------------------------
# Formulario Log in/Register
--------------------------------------------------------------*/
.contenedor-form {

    background: #4F504E;
    /*width: 30%;
    margin: 0 35%;*/
    /*border-radius: 5px;*/
    max-width: 450px;
    width: 100%;
    margin: 330px auto;
    /*float: left;*/
    color: #fff;
    position: relative;
    /*padding: 40px;*/
    border-radius: 5px;
}

.contenedor-form .toggle {
    position: absolute;
    top: 15px;
    right: 40px;
    width: 160px;
    height: 30px;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    border-bottom: 2px solid #b48772;
    cursor: pointer;
    transition: all .5s ease;
}

.contenedor-form .toggle:hover {
    border-bottom: 2px solid #0075d9;
}

.contenedor-form .toggle span {
    letter-spacing: 1px;
    text-decoration:none;
    color:#FAFAFC;
}

.contenedor-form h2 {
    margin: 30px 0 25px 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
}
.contenedor-form input[type="text"],
.contenedor-form input[type="password"],
.contenedor-form input[type="email"] {
    outline: none;
    display: block;
    width: 100%;
    padding: 10px 15px;
    margin: 0 0 20px 0;
    background: #ece2d9;
    height: 50px;
    color: #4F504E;
    border: none;
    box-sizing: border-box;
    font-size: 14px;
    font-weight:normal;
    transition: all .5s ease;
}

.contenedor-form input[type="password"] {
    color: #4F504E;
}

.submitBtn {
    background: #856651;
    color: #FFF;
    width: 100%;
    border: none;
    padding: 10px 0;
    font-size: 16px;
    font-weight: normal;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .5s ease;
}

.submitBtn:hover {
    background-color: #A9B6AD;
}

.contenedor-form .formulario span{
    background-color: #b48772;
    position: absolute;
    right: 50px;
    top: 196px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 2px 10px;
    color: white;
    text-decoration: none;
}

.contenedor-form .reset-password {
    background: #b48772;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.contenedor-form .reset-password a {
    color:#FAFAFC;
    text-decoration: none;
    font-size: 16px;
}

.contenedor-form .formulario {
    display: none;
    padding: 40px;
}

.contenedor-form .formulario:nth-child(2) {
    display: block;
}



/*--------------------------------------------------------------
# Formulario Log in/Register
--------------------------------------------------------------*/
#formularios-container-all {
    width: 100%;
    float: left;
}
.form-container-general{

    background: #4F504E;
    width: 30%;
    color: #fff;
    float: left;
    border-radius: 5px;
    margin-bottom: 20px;
}
.form-container-general h2 {
    margin: 30px 0 25px 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
}
.form-container-general input {
    outline: none;
    display: block;
    width: 100%;
    padding: 10px 15px;
    margin: 0 0 20px 0;
    background: #ece2d9;
    height: 50px;
    color: #4F504E;
    border: none;
    box-sizing: border-box;
    font-size: 14px;
    font-weight:normal;
}

.form-container-general input[type="password"] {
    color: #4F504E;
}

.form-container-general input[type="submit"] {
    background: #856651;
    color: #FFF;
    width: 100%;
    border: none;
    padding: 10px 0;
    font-size: 16px;
    font-weight: normal;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
    cursor: pointer;
}

.form-container-general input[type="submit"]:hover {
    background-color: #A9B6AD;
}


.form-container-general .reset-password {
    background: #b48772;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#container-login-general .form{
padding: 20px;
padding-bottom: 35px;
}
#container-login-general{
margin-left: 16%;
}

#container-register-general{
margin-left: 6%;
}

#container-register-general .form{
padding: 20px;
}

.form-container-general .reset-password a {
    color:#FAFAFC;
    text-decoration: none;
    font-size: 16px;
}

.form-container-general .formulario {
    /*display: none;*/
    padding: 40px;
}

.form-container-general.formulario:nth-child(2) {
    display: block;
}


/*--------------------------------------------------------------
# Formulario Contacto
--------------------------------------------------------------*/

.contact .form-contact{
    width:50%;
    margin: 25%; 
    background:#4F504E;
    padding:10px 20px;
    box-sizing:border-box;
    margin-top: 80px;
    border-radius: 5px;
    border-style: none;
    margin-bottom: 0;
    float: left;
}

.form-contact .form-contact-container h2{
    color:#fff;
    text-align:center;
    font-size:30px;
    margin-bottom:20px;

}

.form-contact input, .form-contact textarea{
    width:100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing:border-box;
    font-size: 16px;
    background-color: #ece2d9;
    font-family: inherit;
    border-style: none;

}

.form-contact textarea{
    min-height: 160px;
    max-height: 200px;
    max-width: 100%;
    resize: none;

}

.form-contact .form-contact-input-send{
    background: #856651;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
}

.form-contact .form-contact-input-send:hover{
    cursor:pointer;
    background-color: #A9B6AD;
}

@media (max-width:480px){
    .contact .form-contact{
        width:100%;
    }
}